.detail {
  display: flex;
  justify-content: space-between;
  margin: 0px 15px;
}
.sub {
  display: flex;
  margin: 0px 15px;
}
/*  */
.first-button {
  border-radius: 15px;
  color: green;
  background-color: white;
  border-color: green;
}
.second-button {
  border-radius: 15px;
  color: white;
  background-color: green;
  border-color: green;
}
